<!-- <p>Department-management is working!</p> -->
<div class="department-management">
    <vks-filter-common [fieldsConfig]="filterConfig" (filterEvent)="onFilter($event)"
        (clearFilterEvent)="onClearFilter($event)">
    </vks-filter-common>

    <vks-table-common [data]="listDepartment" [title]="title" [configHeader]="configHeader" [showBtnSearch]="true"
        [showPagination]="true" [totalRecord]="totalRecords" [limitPerPage]="pageSize"
        (doubleClickRow)="onDoubleClickRow($event)" (searchEvent)="onSearch($event)"
        (pageChangeEvent)="onPageChange($event)">
        <ng-container action-button>
            <button pButton pRipple type="button" (click)="onOpenModal()">
                Thêm mới
            </button>
        </ng-container>

        <ng-template #bodyTemplateRef let-itemRecord>
            <div class="action-buttons">
                <div class="card flex justify-content-center">
                    <p-menu #menu [model]="getActionConfig(itemRecord)" appendTo="body" [popup]="true">
                        <ng-template pTemplate="item" let-itemMenu>
                            <ng-container *ngIf=" itemRecord.id===2; else DEFAULT_MENU">
                                <button pRipple
                                    class="relative overflow-hidden w-full p-link flex align-items-center text-color hover:surface-200 border-noround">
                                    <a class="p-menuitem-link">
                                        <span [class]="itemMenu.icon"></span>
                                        <span class="ml-2">{{ itemMenu.label }}</span>
                                    </a>
                                </button>
                            </ng-container>
                            <ng-template #DEFAULT_MENU>
                                <button pRipple
                                    class="relative overflow-hidden w-full p-link flex align-items-center text-color hover:surface-200 border-noround">
                                    <a class="p-menuitem-link">
                                        <span [class]="itemMenu.icon"></span>
                                        <span class="ml-2">{{ itemMenu.label }}</span>
                                    </a>
                                </button>
                            </ng-template>
                        </ng-template>
                    </p-menu>
                    <p-button [rounded]="true" [text]="true" (onClick)="menu.toggle($event)"
                        (dblclick)="$event.stopPropagation()" severity="secondary" icon="pi pi-ellipsis-h" />
                </div>
            </div>
        </ng-template>
    </vks-table-common>

    <p-dialog [modal]="true" [(visible)]="isVisibleModal"
        [header]="modalMode === 'CREATE' ? 'Thêm mới phòng ban' : 'Sửa phòng ban'" [style]="{ width: '50%' }"
        (onHide)="onCloseModal()">
        <vks-form-department (unActiveForm)="onCloseModal()" (forward)="onSubmit($event)" [mode]="modalMode"
            [departmentDetail]="selectedDepartment"></vks-form-department>
    </p-dialog>
</div>